.box1 {
    position: absolute;
    background-image: url("../图片/background-index.jpg");
    background-position: center top;
    background-size: 100% 100%;
}

.box1 .nav {
    margin-top: 100px;
    width: 100%;
    height: 60px;
    text-align: center;
    line-height: 60px;
    color: white;
    font-size: 45px;
    font-weight: 700;
    font-family: "宋体";
}

.box1 .nav img {
    height: 50%;
    width: 40%;
}

.box1 .nav img:nth-child(2) {
    height: 50%;
    width: 40%;
    transform: scaleX(-1);
}

.box1 .con {
    width: 1650px;
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
}

.box1 .con li {
    margin-left: 55px;
    margin-right: 55px;
    width: 220px;
    height: 400px;
    cursor: pointer;
    border-radius: 10px;
    /* 背景图片 */
    background-size: 100% 100%;
    background-position: center bottom;
    background-repeat: repeat;
    /* 动画 */
    transition: all 0.5s linear 0s;
    /* 文字设置 */
    font-size: 30px;
    font-family: "宋体";
    font-weight: 800;
    color: rgb(255, 255, 255);
    position: relative;
}

.box1 .con li p {
    position: absolute;
    top: -40px;
    left: 79px;
    transition: all 0.35s linear 0s;
}

.box1 .con li:nth-child(1) {
    background-image: url("../图片/mengde.jpg");
}

.box1 .con li:nth-child(2) {
    background-image: url("../图片/liyue.jpg");
}

.box1 .con li:nth-child(3) {
    background-image: url("../图片/daoqi.jpg");
}

.box1 .con li:nth-child(4) {
    background-image: url("../图片/xumi.jpg");
}

.box1 .con li:nth-child(5) {
    background-image: url("../图片/fengdan.png");
}

.box1 .con li:hover {
    box-shadow: 0px 0px 15px 8px rgba(0, 0, 0, 0.3);
    background-size: 110% 110%;
}

.world {
    position: absolute;
    bottom: -855px;
    width: 100%;
    height: 855px;
}

.box1 .world .wor {
    width: 800px;
    background-color: red;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.box1 .world .wor li {
    text-align: center;
    line-height: 46px;
    font-size: 23px;
    font-weight: 600;
    font-family: '宋体';
    color: black;
    width: 196px;
    height: 46px;
    border: 2px solid white;
    cursor: pointer;
}

.box1 .world .p1 {
    height: 50px;
    width: 100%;
    margin-top: 200px;
    text-align: center;
    line-height: 50px;
    font-size: 30px;
    font-weight: 650;
    color: white;
    font-family: '宋体';
}

.box1 .world .p1 img {
    height: 50%;
    width: 30%;
    vertical-align: middle;
}

.box1 .world .p1 img:nth-child(2) {
    height: 50%;
    width: 30%;
    transform: scaleX(-1);
    vertical-align: middle;
}

.box1 .world aside {
    width: 640px;
    height: 440px;
    margin-top: 50px;
    margin-left: 9%;
    position: relative;
    float: left;
}

.box1 .world aside .lbt {
    width: 100%;
    height: 400px;
    background-color: skyblue;
}

.box1 .world aside .lbt img {
    width: 100%;
    height: 400px;
}

.box1 .world aside .bot {
    width: 100%;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.301);
    position: relative;
}

.box1 .world aside .bot .bo {
    height: 40px;
    position: absolute;
    left: 20px;
    text-align: center;
    line-height: 40px;
}

.box1 .world aside .bot .bo li {
    width: 18px;
    height: 18px;
    background-color: white;
    margin-left: 10px;
    margin-top: 11px;
    float: left;
    border-radius: 50%;
    opacity: 0.4;
}

.yiyang {
    position: absolute;
    width: 24px;
    height: 24px;
    appearance: none;
    border: none;
    background: rgba(255, 255, 255, 0.395);
    color: #ffffff;
    border-radius: 4px;
    cursor: pointer;
    top: 8px;
}

.box1 .world aside .bot .zuo {
    right: 60px;

}

.box1 .world aside .bot .you {
    right: 24px;
}

.box1 .world section {
    width: 640px;
    height: 440px;
    float: right;
    margin-top: 50px;
    margin-right: 9%;
    position: relative;
    /* 字体设置 */
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 5px;
    overflow: auto;
    color: white;
}

.box1 .contry1 {
    background-image: url("../图片/国家背景/mengde.jpg");
}

.box1 .contry2 {
    background-image: url("../图片/国家背景/liyue.jpg");
}

.box1 .contry3 {
    background-image: url("../图片/国家背景/daoqi.jpg");
}

.box1 .contry4 {
    background-image: url("../图片/国家背景/xumi.jpg");
}

.box1 .contry5 {
    background-image: url("../图片/国家背景/fengdan.jpg");
}