.box2 {
    position: relative;
    background: url('../图片/wallpaper-bg.jpg') no-repeat center center/cover;
    background-position: center top;
}

.box2 ul {
    width: 1520px;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
}

.box2 ul li {
    float: left;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 40px;
    width: 320px;
    height: 180px;
    border-radius: 10px 10px 10px 10px;
}

.box2 ul li img {
    width: 320px;
    height: 180px;
    transition: all 0.5s linear 0s;
}

.box2 ul li img:hover {
    transform: scale(2);
}